*¨{
    margin: center;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Open Sans';
    margin: center;
    padding: 0 ;
    background: #CA76ee;
}

h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
h2{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
* {
    box-sizing: border-box;
  }


  .contenedor{ 
    width:100%;
      margin: auto;
  }
  img{
      width: 100%;
  }
  .persona__columna{
      margin: 5px; 
  }
  .personas .contenedor{
      display: grid;
      }
  @media(min-width:520px){
      .personas .contenedor{     
    grid-template-columns: repeat(2,50%);
      }
  }
  @media(min-width:728px){
     .personas .contenedor{
    grid-template-columns: repeat(3,33.3%);
      }
  }
  @media(min-width:1024px){
     .personas .contenedor{
      
    grid-template-columns: repeat(4,25%);
      }
      .contenedor{
           width: 1024px;
      }
  }
  @media(min-width:1200px){
      .contenedor{
           width: 1200px;
      }
  }



  img{

      /*para que sea responsiva*/
      width: 100%;
  }


.titulo{
    color:#642a73;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */
header{

    width:100%;
    height: 600px;
    background: #654ea3; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(256, 35%, 47%, 0.503), hsla(335, 59%, 80%, 0.503)), url(../imgs/portada.jpg );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav> a{
    color:#fff;  
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover {
    text-decoration: underline;

}

.textos-header h2{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;

}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* About us */

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;   
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;

}
/* Clients */
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
.cards .card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card >.contenido-texto-card{
    width: 60%;
    color: #fff;
}

